{% extends 'panelist/panel.html' %}

{% load static %}
{% block css %}
    <style>
.well1{
    padding:20px;
    padding-right: 34px;
    }
    </style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
        <div class="well1">
            <div class="card" style="padding-right: 25px;">
                    <table id="nominees" style="margin: 15px;">
                        <tr>
                            <th>Nominee Name</th>
                            <th>Department</th>
                            <th>AWard</th>
                            <th>Position</th>
                            <th>Description</th>
                        </tr>
                        {% if winners %}
                        {% for winner in winners %}
                            <tr>
                                <td>{{ winner.winner_name  }}</td>
                                <td>{{ winner.dept }}</td>
                                <td>{{ winner.award }}</td>
                                <td>{{ winner.position }}</td>
                                <td>{{ winner.description }}</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr><td colspan="5" style="text-align: center">No Winners yet</td></tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    <div class="col-md-1">

    </div>
</div>
{% endblock %}