{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'user/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/sidebar.css' %}">
    <style>
        .nav-item :hover {
            color: springgreen!important;
            border-top-style: dotted;
            border-right-style: solid;
            border-bottom-style: dotted;
            border-left-style: solid;
            .navbar{
                background-color: #f8f9fa;
                color: blue;
            }
        }
    </style>
    {% block css %}

    {% endblock %}
</head>
<body style="background-color: #cce5ff">
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <!-- Brand -->
    <a class="navbar-brand" style="color:cadetblue;font-size: 24px;" href="#">STANDARD GROUP</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepanel' %}">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'history' %}">HISTORY</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="nav-link logout" style="text-transform: uppercase">{{ user.username }}</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'auth:logoutuser' %}" class="nav-link logout">LOG OUT</a>
            </li>
        </ul>
    </div>
</nav>
<br><br><br>
<hr>
{% block content %}

{% endblock %}

<!-- jQuery CDN -->
<script src="{% static 'user/js/jquery/jquery-2.2.4.min.js' %}"></script>
<script src="{% static 'user/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'user/bootstrap/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'user/bootstrap/js/bootstrap.js' %}"></script>
{% block js %}
{% endblock %}
</body>
</html>
