{% extends 'base.html' %}
{% block css %}
    <style>
    .card-header p{
        text-align: center;
        color: black;
    }
    .form-group button{
        margin:13px 0px 20px 43px;

    }
    .form-group button :hover{
        background-color: #1b1e21;
    }
    .form-group .form-control{
        margin-left:35px;
        width:85%;
        align-items: center;

    }
    .form-group label{
       margin-left: 35px;
    }
    select, select option{
        text-transform: uppercase;
        color: #0b2e13;
    }
    .btn-nominate{
        margin-left: 40px;
        margin-top: 20px;
    }
    .btn-nominate :hover{
        background-color: black;
    }
    </style>
{% endblock %}
{% block content %}
    <br><br><br>
<div class="row">
    <div class="col-md-3 " style="margin:23px;">
        <div style="transform: skewY(20deg); background-color: yellow; width:150px;height:80px;">
            Welcome
        </div><br><br><br><br>
        <div style="transform: skewY(90deg); background-color: yellow; width:150px;height:80px;">
            Welcome
        </div><br><br><br><br>
        <div style="transform: scaleY(1.5); background-color: yellow; width:150px;height:80px;">
            Welcome
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="text-center bg-success">
                <p>NOMINATION FORM</p>
                <div class="alert-info">
                    {% for message in messages %}
                    <strong>{{ message }}</strong>
                    {% endfor %}
                </div>
            </div>
            <div class="card-text bg-light" >
                <form action="{% url 'nominate' %}" method ="POST" class="form-group">
                    {% csrf_token %}
                <div class="col-md-10 col-md-offset-1" >
                    <label>Award</label>
                    <select class="form-control" name="award" required>
                        <option>{{ award }}</option>
                    </select>
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <label>Session</label>
                    <select class="form-control" name="ses" required>
                        {% for ses1 in ses %}
                        <option>{{ ses1.ses_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <label>Nominee Name</label>
                    <select class="form-control" name="nominee_name">
                        {% for user in users %}
                        <option>{{ user.first_name }}{{ ' ' }}{{ user.last_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <label>Reason</label>
                    <textarea placeholder="Describe reason in summary" name="reason" class="form-control"></textarea>
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <label>Impact</label>
                    <textarea placeholder="Describe impact in summary" name="impact" class="form-control"></textarea>
                    <button class="btn btn-lg btn-primary btn-nominate" type="submit">SUBMIT</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3">

    </div>
</div>

{% endblock %}